<html>
<body>
	<h1>.NET 4.6 sample project</h1>
	<ul>
		<li><a href="/address">/address</a></li>
		<li><a href="/customer">/customer</a></li>
		<li><a href="/manufacturer">/manufacturer</a></li>
		<li><a href="/order">/order</a></li>
		<li><a href="/product">/product</a></li>
		<li><a href="/review">/review</a></li>
		<li><a href="/seller">/seller</a></li>
	</ul>
</body>
</html>